h1{
	font-size: 100px;
	font-family: Avantgarde , TeX Gyre Adventor, URW Gothic L, sans-serif;
	background-color: powderblue;
}
.clickable{
	position: relative;
	bottom: 100px;
	
	
}
#return_home{
	position: relative;
	bottom: 20px;
	font-size:20px;
	font-family: Avantgarde , TeX Gyre Adventor, URW Gothic L, sans-serif;
}
#sign_up_now{
	font-size: 20px;
	font-family: Avantgarde , TeX Gyre Adventor, URW Gothic L, sans-serif;
}
#communitythings{
	position: relative;
	bottom: 50px;
	font-size:37px;
	font-family: Avantgarde , TeX Gyre Adventor, URW Gothic L, sans-serif;
	margin-top: 100px;
    margin-bottom: 80px;
    margin-right: 120px;
    margin-left: 80px;
}

.all{
	background-color: lightblue;
	height:100%;
	position: absolute;
	width: 100%
}
#signupnow{
	position: relative;
	bottom: 100px;
	font-size: 45px;
	font-family: Avantgarde , TeX Gyre Adventor, URW Gothic L, sans-serif;
	background-color: powderblue;
}


p{
	font-family: Avantgarde , TeX Gyre Adventor, URW Gothic L, sans-serif;
	padding-top: 20px;
	font-size: 25px;
	margin-left: 5px;
	text-align: center;
}



.img_left{
	position: absolute;
	margin-left: 150px;
}

.names{
	font-size: 60px;
	padding-left: 70px;

}

.space_img{
	margin: 25px;
}

.space_name{
	font-family: Avantgarde , TeX Gyre Adventor, URW Gothic L, sans-serif;
	margin: 40px;
}



.paragraphs{
	text-align:center;
	position: relative;
	font-size: 40px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}