
.info{
	font-family:"Courier New", Courier, monospace
}
.container{
	font-family: "Courier New", Courier, monospace
}
#return_home {
	font-family: "Courier New", Courier, monospace
}
.join{
	font-family: Avantgrade,TeX Gyre Advantor, URW Gothic L, sans-serif
}
#link{
	text-decoration:none;
	font-family: "Courier New", Courier
}