
.info{
	font-family:"Courier New", Courier, monospace
}
.container{
	font-family: "Courier New", Courier, monospace
}
#return_home {
	font-family: "Courier New", Courier, monospace
}
.join{
	font-family: Avantgrade,TeX Gyre Advantor, URW Gothic L, sans-serif;
	position: relative;
	font-size: 50px;
}
#link{
	text-decoration:none;
	font-family: "Courier New", Courier
}
#cheese{
	text-align: left;
	position: relative;
	font-size: 20px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif

}
#creat{
	position: relative;
	top: 30px;
	font-size: 40px;

}
#submit{
	position: relative;
	bottom: 10px;
}
.center{
	text-align: center;
}
