#info{
	 font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
}
.container{
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
}
#return_home {
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif