#info{
	 font-size:30px;
	 font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif

}
#continue{
	text-align:center;
	position: relative;
	font-size: 30px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
}
#welcome_back{
	text-align:center;
	position: relative;
	font-size: 40px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif

}
.container{
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
}
#return_home {
	text-align: center;
	font-size: 15px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
}
#join {
	text-align:center;
	position: relative;
	font-size: 40px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
}
#cheese{
	text-align: center;
	position: relative;
	font-size: 30px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif

}
#signup{
	position: relative;
	top: 30px;
	font-size: 30px;

}
#submit{
	text-align:center;

}
.signup_password{
	position: relative;
	bottom: 50px;

}