* {
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}

/* Put your styles BELOW this line */

.sidebar
{

	position: absolute;
	width: 20%;
	background-color: white;
	border: 3px solid #166625;
	height: 150px;
	right: 3%;


}

h3 {
	color: black;
}
body
{
	background-color: powderblue;
	color:white;
	/*background-image: url("sky.jpg");*/
}
h1
{
	color:white;
	top: 70px;
	margin-left: 63px;
	color: black;
	font-family: Avantgarde , TeX Gyre Adventor, URW Gothic L, sans-serif
	
}

/*a 
{color:white;

}
.v
{
	color:pink;
}
.nv
{
	color:white;
}

.title
{
	height:60px
	width:100%;
}
.container
{
	position:relative;
}
<<<<<<< HEAD
*/
.navbar

{
	background-color:#d9edf1;
	top:250px;
	width:100%;
	height: 20px;
	padding: 10px;
	border: 5px solid #166625;

}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


p
{
	color:black;
	font-family: Avantgarde , TeX Gyre Adventor, URW Gothic L, sans-serif
}

h2
{
	color: black;
	font-family: Avantgarde , TeX Gyre Adventor, URW Gothic L, sans-serif;
	text-align: center;
	margin-top: 52px;
}



#loging
{
    position: absolute;
    right:20px;
    bottom:392px;
    text-decoration:none;
}

#signing
{
	position: absolute;
	right: 100px;
	bottom: 392px;
}

#about_us{
	position: absolute;
	right: 180px;
	bottom: 392px;
}

.container {
	position: relative;
	width: 100%;
	font-family: Avantgarde , TeX Gyre Adventor, URW Gothic L, sans-serif

}

.comments
{
	color: black ;
	background-color: white;
	position: absolute;
	width:70%;
	height: 350px;
	border: 3px solid #166625;
	left: 5%;


}


.styling{
	text-decoration:none;
}
	a:link, a:visited {
    	color: black;
    	text-align: center;
    	text-decoration: none;
    }


.everything{
	background-image:url("sky4.jpeg");
	z-index: -1;
	height:500px;
	background-repeat: no-repeat;
	background-size: 100%, 100%;
}


h3{
	color: black;
	font-family: Avantgarde , TeX Gyre Adventor, URW Gothic L, sans-serif
}

    /*a:hover, a:active {
    background-color: #166625 ;
}*/ 

/*h2
{
	color: black;
}
/*
=======
.sidebar
{
	background:lightblue;
	position: fixed;
	left:300px;
	height: 100%;

}
>>>>>>> 31b90ce4f00f43efd87f72a70ffe82874c81ea58
.container
{
	height:1000px;
	position: relative;
}

.content
{
	position:absolute;
	top:0px;
	left:300px;
}
