* {
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}

/* Put your styles BELOW this line */




body
{
	background-color: #8BAA00;
	color:white;
}
h1
{
	color:white;
	top: 70px;
	
}

/*a 
{color:white;

}
.v
{
	color:pink;
}
.nv
{
	color:white;
}

.title
{
	height:60px
	width:100%;
}
.container
{
	position:relative;
}
*/
.navbar
{
	background-color:white;
	top:250px;
	width:100%;
	padding: 10px

}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p
{
	color:black;
}
/*
.container
{
	height:1000px;
	position: relative;
}

.content
{
	position:absolute;
	top:0px;
	left:300px;
}
